
.dice {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 3px;
  background-image: url(../imgs/dice.png);
  background-size: 300px 50px;
  background-repeat: no-repeat;
}

.dice-1 { background-position: 0 0; }
.dice-2 { background-position: -50px 0; }
.dice-3 { background-position: -100px 0; }
.dice-4 { background-position: -150px 0; }
.dice-5 { background-position: -200px 0; }
.dice-6 { background-position: -250px 0; }